/* General reset to remove default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #acc6e6;
    color: #333;
}

/* Header styling */
header {
    background-color: #698be7;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #333;
}

/* Navigation bar styling */
nav {
    background-color: #333;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

body > hr {
    margin: 0 20px; 
}

.grid-container {
    margin: 20px 200px;
    text-align: center;
}

.grid-container ul {
    list-style: none;
    padding-bottom: 30px;
}

.grid-container ul li {
    padding: 10px;
    text-decoration: none;
}

#order-page {
    padding: 0 100px;
}

.grid-container img {
    height: 260px;
    width: 400px;
    text-align: center;
}

.grid-container form {
    margin: 20px 200px;
    text-align: left;
}

.grid-container form p {
    text-align: left;
}

.fb_table {
    margin: 20px auto;
    text-align: center;
    border-collapse: collapse;
}

.fb_table table {
    margin: 0 auto;
}

.fb_table th, .fb_table td {
    padding: 5px 20px;
    text-align: left;
}

.fb_table th {
    background-color: #499fe5;
}

.fb_table td {
    background-color: #83b7e2;
}

h2, h3 {
    padding-bottom: 20px;
}

footer {
    text-align: center;
    color: #666;
    margin: 20px 0;
}