{% extends 'mini_fb/base.html' %}

{% block content %}
<div class="fb_page">
    <h2>Create a New Profile</h2>

    <form method="POST">
        {% csrf_token %}
        <table>
            {% for field in form %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <button type="submit">Create Profile</button>
    </form>
    <br>

    <p><button><a href="{% url 'show_profile' profile.pk %}">Back to Profile</a></button></p>
</div>
{% endblock %}
