<!-- show_all/templates/quotes/show_all.html -->
{% extends 'quotes/base.html' %}

{% block content %}
    <div class="grid-container">
        <main>    
            <h2>Welcome !</h2>
            <p>Welcome to the quote of the day application!</p><br>
            <p>This application displays quotes by and images 
                of <a href="https://en.wikipedia.org/wiki/Kanye_West">Kanye West</a></p><br>
            <p>Kanye West grew up in Chicago and is among the most famous Hip Hop artists of this generation. He is also a
                frequent source of controversy especially on social media. Regardless, he is still one of the most inspirational
                and impactful voices in the music and fashion industry.</p><br>
            <p>He made <a href="https://en.wikipedia.org/wiki/Graduation_(album)">Graduation</a>.</p><br>
        </main>    
    </div>
{% endblock %}